.goals {
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 900px;
}

input {
    border: 1px solid;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(210, 142, 143);
    margin-left: 20%;

}

.set {
    display: flex;
    gap: 40px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;


}
h1{
    font-size: 40px;
}

.container{

    border: 1px solid;
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    height: 900px;
    margin-left: 20%;
     background-color: rgb(210,186,216); 
     padding-top: 40px;
}
.main {
    margin-left: 30%;
    font-size: 50px;
}

.duration {
    font-size: 30px;
    margin-left: 30%;
}
@media only screen and (min-width:280px)and (max-width:425px) {
    .goals {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    input {
        border: 1px solid;
        width: 100px;
        border-radius: 20px;
        padding: 20px;
        background-color: rgb(210, 142, 143);
        margin-left: 20%;
        flex-wrap: wrap;
    
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 30px;
        padding-left: 90px;
    }
    
    .container{

        border: 1px solid;
        padding: 30px;
        border-radius: 20px;
        width: 80%;
        height: 1300px;
        margin: 0 auto;
         background-color: rgb(210,186,216); 
         padding-top: 20px;
         flex-wrap: wrap;
    }
    h1{
        font-size: 40px;
    }



}
@media only screen and (min-width:280px)and (max-width:425px) {
    .goals {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    input {
        border: 1px solid;
        width: 100px;
        border-radius: 20px;
        padding: 20px;
        background-color: rgb(210, 142, 143);
        margin-left: 20%;
        flex-wrap: wrap;
    
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 30px;
        padding-left: 90px;
    }
    
    .container{

        border: 1px solid;
        padding: 30px;
        border-radius: 20px;
        width: 80%;
        height: 1300px;
        margin: 0 auto;
         background-color: rgb(210,186,216); 
         padding-top: 20px;
         flex-wrap: wrap;
    }
    h1{
        font-size: 40px;
    }


}




