
.container{

    padding-left: 400px;
    height: 1000px;

    

}
h1{
    text-align: center;
}


.paragraph{
    padding: 50px;
    padding-left: 50px;
    background-color: rgb(210,186,216); 
    width: 50%;
    font-size: 23px;
    height: 890px;
    

}
a{
    border: 1px solid;
    width: 40%;
    border-radius: 20px;
}

@media only screen and (min-width:280px)and (max-width:425px) {
    .container{

        padding-left: 40px;
        height: 1400px;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 13px;
        height: 1300px;
        
    
    }

}
