
.container{

    padding-left: 400px;
    height: 1000px;
}
h1{
    text-align: center;
}


.paragraph{
    border: 1px solid;
    padding: 50px;
    padding-left: 50px;
    background-color: rgb(210,186,216); 
    width: 50%;
    font-size: 23px;
    height: 890px;
    

}
a{
    border: 1px solid;
    width: 40%;
    border-radius: 20px;
}
@media only screen and (min-width:280px)and (max-width:425px) {
    h1{
        text-align: center;
        border: 1px solid;
        padding: 20px;
        flex-wrap: wrap;
        background-color:rgb(210,142,143);
        width: 80%;
        
    
    
    }
    #container{

        padding-left: 30px;
    }
    .paragraph{
        border: 1px solid;
        padding: 20px;
        
        background-color: rgb(210,186,216); 
        width: 100%;
        font-size: 20px;
    
    }

}

