
.container{

    padding-left: 400px;
    height: 1000px;

    

}
h1{
    text-align: center;
}


.paragraph{
    padding: 50px;
    padding-left: 50px;
    background-color: rgb(210,186,216); 
    width: 50%;
    font-size: 23px;
    height: 890px;
    

}
a{
    border: 1px solid;
    width: 40%;
    border-radius: 20px;
}

@media only screen and (min-width:280px)and (max-width:425px) {
    .container{

        padding-left: 40px;
        height: 100%;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 15px;
        height: 90%;
        
    
    }

}

@media only screen and (min-width:425px)and (max-width:960px) {
    .container{

        padding-left: 40px;
        height: 100%;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 20px;
        height: 80%;
        
    
    }

}
@media only screen and (min-width:960px)and (max-width:1120px) {
    .container{

        padding-left: 40px;
        height: 100%;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 20px;
        height: 100%;
        
    
    }

}
@media only screen and (min-width:1120px)and (max-width:1400px) {
    .container{

        padding-left: 40px;
        height: 100%;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 20px;
        height: 100%;
        
    
    }

}

@media only screen and (min-width:1400px)and (max-width:1600px) {
    .container{

        padding-left: 40px;
        height: 100%;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 20px;
        height: 100%;
        
    
    }

}
@media only screen and (min-width:1600px)and (max-width:2550px) {
    .container{

        padding-left: 40px;
        height: 100%;
    
        
    
    }
    .paragraph{
        padding: 20px;
        padding-left: 50px;
        background-color: rgb(210,186,216); 
        width: 70%;
        font-size: 30px;
        height: 100%;
        
    
    }

}
